/*首页home小图标*/
.banner_home i{
	color:rgb(210,50,45);
}

.login-reg,.user-state{
	margin-left: 40px;
}
/*添加文章按钮*/
.add_article_button{
	margin-left:10px;
	line-height:48px;
    text-align: center;
}
.add_article_button a,a:hover,a:focus{
	outline:none;
	text-decoration: none;
}


/*搜索框*/
.search_box{
	line-height: 48px;
}
.search_input{
	border-right: none;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.search-icon,.search-icon>button{
    border-left: none;
    border-top-left-radius:0;
	border-bottom-left-radius:0;
}
/*登录模态框*/
.from-login label{
	vertical-align: middle;
}


