/*登录页面样式*/
body{
    background-image: url(../images/login_img.png);
    background-repeat: no-repeat;
    background-position:200px 100px;
}
h1{ 
	position:relative;
	top:100px;
	left:700px;
	line-height:40px;
}
.from_login{
	position:absolute;
	margin:140px 450px;	
	border-radius:5px;
	font-size:18px;
}
.from_login .login_btn{
	position: relative;
	width:100px;
}
.from_login .reg_btn button{
	display:block;
	position: absolute;
	width:100px;
}