body{
    background-color: white;
}
/*resultList文章列表显示*/
.resultList{
	background-color:white;
	table-layout:fixed;
	width:1014px;
}
 .rslist_title{
    background-color: white;
    text-overflow:ellipsis;
    white-space:nowrap;
}
 .rslist_title a{
     line-height:35px;
     color:rgb(34,24,219);
     text-decoration: none;
     padding:0 5px;
     font-weight: bold;
}
.rslist_acontent{}
.rslist_acontent a{
	display:block;
	height:60px;
	color:grey;
	padding:0 5px;
	text-decoration: none;
	line-height:20px;
 }
 .rslist_acontent a:hover{
    color:#aaa;
 }
 
 /*页脚的翻页区*/
 .page-turn{
    margin: 50px;
 }
