*{
	outline:none;
	padding:0;
}
body{
	color:black;
	background-color:#fff;
/*background-image: url(../images/login_img.jpg); 
	background-size: cover;*/
	font-family:"YouYuan";
}
/*容器*/
.contain{
	width:1024px;
	margin:0 auto;
	background:none;
}

/*导航条*/
.banner{
	margin-left:170px;
	
}
.banner_a{
	line-height: 28px;
}
.banner_a:hover,.banner_a:focus{
	line-height: 28px;
}

/*主页框架集*/
.mainframe{border:none;height:1000px;margin-top:30px;padding: 5px;}


