*{
	outline:none;
	padding:0;
}
body{
	color:black;
	background-color:#fff;
	background-image: url(../images/login_img.jpg); 
	background-size: cover;
	font-family:"YouYuan";
}
/*容器*/
.contain{
	width:1024px;
	margin:0 auto;
	background:none;
}






/*主页头部*/
.head{
	height:135px;
}
.head hr{
	color:black;
}
.head_right{
	float:right;
}
.head_right a{
	text-decoration: none;
}
/*主页导航栏*/
.banner ul li {
list-style-type: none;float:left;width:170.51px;line-height:30px;text-align:center;}
.banner ul li a{font:24px;}
.add_article_button{line-height: 40px;width:100px;text-align: center;vertical-align: middle;}
.add_article_button a{color:green;text-decoration: none;}
.search_box{margin-left: 750px;}
.search_input{line-height:30px;padding-left:5px;vertical-align: middle;outline: none;border-radius:4px;}
.search_button{line-height:30px;padding-left:5px;padding-right:5px;vertical-align: middle;border-radius:4px;}
/*主页框架集*/
.mainframe{border:none;height:1000px;margin-top:30px;padding: 5px;}





/*添加文章页面*/
.write_acontent{width:750px;white-space:pre-wrap;}
