*{
	margin:0;
	padding:0;
}
body{
	color:black;
	background-color:#fff;
	background-image: url(../images/background.jpg); 
	background-size: cover;
	font-family:"YouYuan";
}
/*容器*/
.contain{
	width:1024px;
	margin:0 auto;
	background:none;
}
/*登录页面样式*/
.center_box{
	width:500px;
	height:250px;
	margin:100px auto auto auto;text-align: center;
	background-color: rgba(59,200,246,0.3);
	border: 4px solid rgba(0,33,68,0.1);
	border-radius:4px;
}
.center_box td{
	width:80px;
	line-height: 24px;
}
.login_form{
    margin:0 auto;
    float:none;
}
/*主页头部*/
.head{
	height:135px;
}
.head hr{
	color:black;
}
.head_right{
	float:right;
}
.head_right a{
	text-decoration: none;
}
/*主页导航栏*/
.banner ul li {
list-style-type: none;float:left;width:170.51px;line-height:30px;text-align:center;}
.banner ul li a{font:24px;}
.add_article_button{line-height: 40px;width:100px;text-align: center;vertical-align: middle;}
.add_article_button a{color:green;text-decoration: none;}
.search_box{margin-left: 750px;}
.search_input{line-height:30px;padding-left:5px;vertical-align: middle;outline: none;border-radius:4px;}
.search_button{line-height:30px;padding-left:5px;padding-right:5px;vertical-align: middle;border-radius:4px;}
/*主页框架集*/
.mainframe{border:none;height:1000px;margin-top:30px;padding: 5px;}
/*resultList文章列表显示*/
.resultList{background-color:white;table-layout:fixed;width:1014px;}
 .rslist_title{background-color: white;text-overflow:ellipsis;white-space:nowrap;}
 .rslist_title a{line-height:35px;color:rgb(34,24,219);text-decoration: none;padding-left: 5px;font-weight: bold;}
 .rslist_acontent{}
.rslist_acontent a{color:grey;text-decoration: none; text-overflow:ellipsis;overflow:hidden;word-break : break-all;}
/*result文章单篇显示*/
.result{margin-left:240px;}
.result_title{font-weight:bolder;}
.result_content{margin-top:10px;white-space:pre-wrap;}
/*添加文章页面*/
.write_acontent{width:750px;white-space:pre-wrap;}